alembic==1.0.10
aniso8601==6.0.0
beautifulsoup4==4.7.1
betterpath==0.2.2
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==0.12.2
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
future==0.17.1
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
l==0.11.0
Mako==1.0.10
MarkupSafe==1.1.0
marshmallow==2.14.0
marshmallow-sqlalchemy==0.13.2
psycopg2==2.8
pydub==0.23.1
pyglet==1.3.2
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
requests==2.21.0
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
SQLAlchemy==1.2.18
urllib3==1.24.3
vcversioner==2.16.0.0
Werkzeug==0.14.1
zope.interface==4.6.0
