{% extends "layout.html" %}
{% block title %}New{% endblock %}
{% block head %}
    {{super() }}
{% endblock %}
{% block content %}
<h1>Create a new flashcard</h1>
<form action="/flashcards/new" method="post">
    <label for="term">Term</label>
    <input type="text" placeholder="Enter the term for review" name="term">
    <label for="definition">Definition</label>
    <input type="text" placeholder="Enter the term definition" name="definition">
    <input type="submit" value="create">
</form>
<a href="/flashcards">Review</a>
{% endblock %}