{% extends "layout.html" %}
{% block title %}Show{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="/static/styles/show.css" type="text/css">
{% endblock %}
{% block content %}
    {% for card in data %}
        <article class="flashcard">
            <input id="flashcard-{% print(card['flashcardID']) %}" type="checkbox" />
            <label for="flashcard-{% print(card['flashcardID']) %}">
                <section class="front">
                    {% print(card['term']) %}
                </section>
                
                <section class="back">
                    {% print(card['definition']) %}
                </section>
            </label>
            
            <a class="nostyle" id="update" href="/flashcards/update/{% print(card['flashcardID']) %}"><i class="far fa-edit"></i></a>
            <a class="nostyle" id="delete" href="/flashcards/delete/{% print(card['flashcardID']) %}"><i class="far fa-trash-alt"></i></a>
        </article>
        <br><br>
    {% endfor %}
    <a class="nostyle" id="new" href="/flashcards/new"><i class="far fa-plus-square"></i></a>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}