<!-- <link rel="stylesheet" href="/static/styles/card.css" type="text/css"> -->
{% block body %}
<!-- <ul>
    {% for card in data %}
    <li>
        Term: {% print(card['term']) %}
    </li>
    <ul>
        <li>
            Definition: {% print(card['definition']) %}
        </li>
    </ul>
    {% endfor %}
</ul> -->
{% for card in data %}
    <article class="flashcard">
        <input type="checkbox" />
        <label for="flashcard">
            <section class="front">
                {% print(card['term']) %}
            </section>
            
            <section class="back">
                {% print(card['definition']) %}
            </section>
        </label>
    </article>
    <a href="/flashcards/update/{% print(card['flashcardID']) %}">Update</a>
    <a href="/flashcards/delete/{% print(card['flashcardID']) %}">Delete</a>
    <br><br>
{% endfor %}
<a href="/flashcards/new">Create a new flashcard</a>
{% endblock %}