.structure {
    text-align: center;
    margin: 0px auto;
    display: block;
    font: 30px "Oswald", sans-serif;
    text-align: center;
    line-height: 200px;
    width: 100%;
}

section {
    margin: 0px auto;
    border: 1px rgba(255, 255, 255, 0.03) solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
    position: relative;
    margin-bottom: 20px;
}

textarea {
    text-align: center;
    height: 100%;
    width: 100%;
}

textarea:focus {
    outline: none !important;
}

.term {
    color: #ba1f53;
    background: #ddd;
}

.term textarea {
    border: none;
    color: #ba1f53; 
    background: #ddd;
    font: 30px "Oswald", sans-serif;
}


.definition {
    color: #ddd;
    background: #ba1f53;
}

.definition textarea {
    border: none;
    background: #ba1f53;
    color: #ddd;
    font: 30px "Oswald", sans-serif;
}

.submit {
    font: 30px "Oswald", sans-serif;
    text-align: center;
    line-height: 75px;
    width: 15%;
    border: 1px rgba(255, 255, 255, 0.03) solid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: #ddd;
}
 input.submit:focus {
     outline: none;
 }